<template>
<q-page>
  <div class='row justify-center spaced' style='margin-top: 5em;'>
    <q-checkbox v-model='posFilter' val='TOP' label='Top' color='primary'/>
    <q-checkbox v-model='posFilter'val='JGL' label='Jungle' color='primary'/>
    <q-checkbox v-model='posFilter' val='MID' label='Mid' color='primary'/>
    <q-checkbox v-model='posFilter' val='BOT' label='Bot' color='primary'/>
    <q-checkbox v-model='posFilter' val='SUP' label='Support' color='primary'/>
  </div>
  <div class='row justify-center spaced'>
    <q-table title='Free Agents' :data='data' :columns='agents.columns' row-key='id' :rows-per-page-options='[0, 10, 20]' binary-state-sort :pagination.sync='pages'>
      <q-td slot='body-cell-position' slot-scope='props' :props='props'>
        <img class='pos-image' :src='"statics/positions/pos_" + props.row.pos.toLowerCase() + ".png"' />
      </q-td>
      <q-td slot='body-cell-sign' slot-scope='props' :props='props'>
        <q-btn color='secondary' label='Sign' @click='sign(props.row.id)' :disable='$store.state.save.hasSignedPlayer'/>
      </q-td>
    </q-table>
    <PlayersNeeded/>
  </div>

  <q-dialog v-model='offering'>
    <q-card>
      <q-card-section>
        <div>{{$store.state.save.players[this.player].tag}} wants {{contract.amount}}k/yr for {{contract.length}} years.</div>
      </q-card-section>

      <q-card-actions align='center'>
        <q-btn color='primary' label='Offer' flat @click='offer()'></q-btn>
        <q-btn color='secondary' label='Cancel' flat @click='offering = false'></q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</q-page>
</template>

<script>
import { createDesiredContract } from '../js/players.js'
import { Dialog } from 'quasar'
import { Events } from '../js/events.js'
import PlayersNeeded from '../components/PlayersNeeded.vue'

export default {
  name: 'FreeAgents',
  components: {
    PlayersNeeded
  },
  watch: {
    posFilter: function () {
      this.load()
    }
  },
  data() {
    return {
      posFilter: [],
      agents: {
        columns: [
          {name: 'position', label: 'Position', field: 'position', sortable: true, align: 'center'},
          {name: 'tag', label: 'Player', field: 'tag', sortable: true, align: 'left'},
          {name: 'age', label: 'Age', field: 'age', sortable: true, align: 'left'},
          {name: 'rating', label: 'Rating', field: 'rating', sortable: true, align: 'left'},
          {name: 'offers', label: 'Offers', field: 'offers', sortable: true, align: 'left'},
          {name: 'sign', field: 'sign', align: 'left'}
        ]
      },
      data: [], // Populated on load from save
      pages: {
        rowsPerPage: 10,
        page: 1,
        sortBy: 'rating',
        descending: true
      },
      player: 0,
      contract: {
        amount: 0,
        length: 0
      },
      offering: false
    }
  },
  methods: {
    updateFilter() {
      // Updates positon filter

    },
    load() {
      this.data = []
      var counter = 0
      for(var i = 0; i < this.$store.state.save.players.length; i++) {
        // If the player is filtered out
        if(this.posFilter.includes(this.$store.state.save.players[i].pos)) {
          if(this.$store.state.save.players[i].team == -1) {
            // Formats list of offers for the table
            var offers = ""
            for(var j = 0; j < this.$store.state.save.players[i].offers.length; j++) {
              // Don't add a space on the first one
              if(j == 0) {
                offers += this.$store.state.save.teams[this.$store.state.save.players[i].offers[j].team].abbrev
              } else {
                offers += " "
                offers += this.$store.state.save.teams[this.$store.state.save.players[i].offers[j].team].abbrev
              }
            }

            this.$set(this.data, counter, {
              pos: this.$store.state.save.players[i].pos,
              id: i,
              tag: this.$store.state.save.players[i].tag,
              age: this.$store.state.save.players[i].age,
              rating: this.$store.state.save.players[i].rating,
              offers: offers
            })
            counter++
          }
        }
      }
    },
    sign(player) {
      // Can't offer multiple times for the same player
      for(var i = 0; i < this.$store.state.save.players[player].offers.length; i++) {
        if(this.$store.state.save.players[player].offers[i].team == this.$store.state.save.team) {
          console.log('Matches')
          this.$q.notify({
            message: "You've already made an offer for that player!",
            color: 'negative',
            timeout: 2000
          });
          return
        }
      }

      this.player = player
      this.contract = createDesiredContract(player)
      this.offering = true
      // this.$q.dialog({
      //   title: 'Sign ' + this.$store.state.save.players[player].tag,
      //   message: this.$store.state.save.players[player].tag + ' wants $' + c.amount + 'k over ' + c.length + ' years.',
      //   ok: 'Sign',
      //   cancel: 'Cancel'
      // }).then(() => {
      //   this.$store.commit('save/addOffer', {
      //     team: this.$store.state.save.team,
      //     player: player,
      //     length: c.length,
      //     amount: c.amount
      //   })
      //   Events.$emit('advance')
      // })
    },
    offer() {
      this.$store.commit('save/addOffer', {
        team: this.$store.state.save.team,
        player: this.player,
        length: this.contract.length,
        amount: this.contract.amount
      })
      Events.$emit('advance')
      this.offering = false
    }
  },
  mounted: function() {
    this.load()
    Events.$on('advance', () => {
      this.load()
    })
  }
}
</script>
