<template>
  <q-page>
    <div class='row justify-center spaced'>
      <h3 class='text-weight-bold'>Esports Manager</h3>
    </div>
    <div class='row justify-center spaced'>
      <q-btn label='New Game' color='primary' @click='createNew()'/>
    </div>
    <div class='row justify-center spaced'>
      <q-btn label='Load Game' color='primary' @click='loadOpen = true'/>
    </div>
    <div class='row justify-center spaced'>
      <q-btn label='Changelog' color='secondary' @click='changelogOpen=true'/>
    </div>

    <div class='row justify-center spaced'>
      <sub class='text-faded'>v0.3.1</sub>
    </div>

    <q-dialog v-model='loadOpen'>
      <Load/>
    </q-dialog>
    <q-dialog v-model='changelogOpen'>
      <Welcome/>
    </q-dialog>
  </q-page>
</template>

<style>
</style>

<script>
import Load from '../components/Load.vue'
import Welcome from '../components/Welcome.vue'
import { defaultState } from '../js/save.js'
import { resetState } from '../js/utils.js'

export default {
  name: 'PageIndex',
  components: {
    Load,
    Welcome
  },
  data() {
    return {
      loadOpen: false,
      changelogOpen: false
    }
  },
  methods: {
    createNew() {
      this.$router.push('/new')
    }
  }
}
</script>

<style lang='stylus'>
.spaced
  margin-top 3em
</style>
