<template>
<q-page>
  <q-btn color='primary' icon='navigate_before' @click='navBack()' class='no-shadow'/>
  <div class='row justify-center spaced'>
    <q-input v-model='saveName' placeholder='Save Name'/>
  </div>
  <div class='row justify-center spaced'>
    <q-select v-model='team' label='Team' :options='teams' map-options emit-value style='width: 10em;'/>
  </div>
  <div class='row justify-center spaced'>
    <q-btn color='primary' label='Create' @click='create()'/>
  </div>
</q-page>
</template>

<script>
import { genSchedule } from '../js/schedule.js'
import { genPlayers } from '../js/players.js'
import { signPlayers } from '../js/ai.js'

export default {
  name: 'PageNew',
  data() {
    return {
      teams: [],
      team: '',
      saveName: ''
    }
  },
  methods: {
    navBack() {
      this.$router.push('/')
    },
    load() {
      for(var i = 0; i < this.$store.state.save.teams.length; i++) {
        this.teams.push({
          label: this.$store.state.save.teams[i].name,
          value: this.$store.state.save.teams[i].id
        })
      }
    },
    create() {
      // Sets player controlled team
      this.$store.commit('save/setTeam', this.team)
      this.$store.commit('save/setSaveName', this.saveName)

      genPlayers(100, false) // Generate the starting batch of players
      for(var i = 0; i < this.$store.state.save.teams.length; i++) {
        signPlayers(i)
      }
      this.$router.push('/standings')
    }
  },
  mounted: function() {
    this.load()
  }
}
</script>

<style>
.spaced {
  margin-top: 3em;
}
</style>
