<template>
<q-page class='playoffs'>
  <h3 class='row justify-center'>Playoffs</h3>

  <div class='row'>
    <PlayoffCard :series='$store.state.save.playoffs.series[0]'/>
    <PlayoffCard :series='$store.state.save.playoffs.series[2]'/>
  </div>

  <div class='row'>
    <PlayoffCard :series='$store.state.save.playoffs.series[4]' class='final'/>
  </div>

  <div class='row'>
    <PlayoffCard :series='$store.state.save.playoffs.series[1]'/>
    <PlayoffCard :series='$store.state.save.playoffs.series[3]'/>
  </div>
</q-page>
</template>

<script>
import PlayoffCard from '../components/PlayoffCard.vue'

export default {
  name: 'PagePlayoffs',
  components: {
    PlayoffCard
  }
}
</script>

<style>
.final {
  margin-left: 27em;
}
.playoffs {
  margin-left: 8em;
}
</style>
