<template>
<q-page>
  <h3 class='row justify-center'>
    {{ $store.state.save.teams[$route.params.team].name }}
  </h3>
  <div class='row justify-center spaced'>
    Starters (Top, Jungle, Mid, ADC, Support)
  </div>

  <div class='row justify-center spaced' v-if='$route.params.team == $store.state.save.team'>
    <q-btn label='Sort Roster' @click='sort()' color='secondary'></q-btn>
  </div>

  <div class='row justify-center spaced'>
    <draggable v-model='players' :options='{group: "players"}'>
      <PlayerCard v-for='(player, index) in players' :key='player.id' :player='player' @click='open(player)' :sub='(index > 4)'/>
    </draggable>
  </div>

</q-page>
</template>

<script>
import PlayerCard from '../components/PlayerCard.vue'
import PlayerStats from '../components/PlayerStats.vue'
import draggable from 'vuedraggable'
import { sortTeamLineup } from '../js/ai.js'

export default {
  name: 'PageRoster',
  components: {
    draggable,
    PlayerCard,
    PlayerStats
  },
  data() {
    return {
      selected: 0,
      opened: false
    }
  },
  computed: {
    players: {
      get() {
        return this.$store.state.save.teams[this.$route.params.team].players
      },
      set(value) {
        if(this.$route.params.team == this.$store.state.save.team) {
          this.$store.commit('save/setLineup', {team: this.$route.params.team, value})
        }
      }
    }
  },
  methods: {
    open(player) {
      this.selected = player
      this.opened = true
    },
    sort() {
      this.$store.commit('save/setLineup', { team: this.$route.params.team, value: sortTeamLineup(this.$route.params.team) })
    },
    release(p) {
      this.$store.commit('save/setPlayerTeam', {player: p, team: -1})
      this.opened = false
    }
  }
}
</script>

<style>
.small-spaced {
  margin-top: 1em;
}
.space-left {
  margin-left: 1em;
}
.player-card {
  width: 16em;
}
</style>
