<template>
<q-page>
  <div class='row justify-center spaced'>
    <q-list no-border>
      <div v-for='(week, index) in schedule' :key='index'>
        <q-item-label header class='centered'>Week {{index + 1}}</q-item-label>
        <q-item v-for='(game, id) in week' :key='id'>
          <q-item-label :class='[{playerTeam: ($store.state.save.team == game.t1 || $store.state.save.team == game.t2)}, {centered: true}]'>
            <span :class='[{winner: ($store.state.save.schedule[index][id].winner == game.t1)}]'>{{getTeam(game.t1)}}</span>
            vs
            <span :class='[{winner: ($store.state.save.schedule[index][id].winner == game.t2)}]'>{{getTeam(game.t2)}}</span>
          </q-item-label>
        </q-item>
      </div>
    </q-list>
  </div>
</q-page>
</template>

<script>
export default {
  name: 'PageSchedule',
  data() {
    return {
      schedule: null
    }
  },
  methods: {
    load() {
      this.schedule = this.$store.state.save.schedule
    },
    getTeam(id) {
      if(id == -1) { // If the team is a placeholder bye team (id of -1)
        return 'BYE'
      }
      return this.$store.getters['save/getTeamById'](id).abbrev
    }
  },
  mounted: function() {
    this.load()
  }
}
</script>

<style lang='stylus'>
.winner
  color: green

.playerTeam
  color white
  background-color: $secondary

.centered
  text-align: center
</style>
