<template>
<q-page>
  <q-table :data='data1' :columns='columns' hide-bottom/>
</q-page>
</template>

<script>
import { Events } from '../js/events.js'

export default {
  name: 'PageSpectate',
  props: {
    game: Object
  }
  data() {
    return {
      data1: [], // First team data
      data2: [], // Second team data
      columns: [
        {name: 'tag', label: 'Player', field: 'tag'},
        {name: 'kda', label: 'KDA', field: 'kda'},
        {name: 'gold', label: 'Gold', field: 'gold'}
      ]
    }
  },
  methods: {
    load() {
      // Load team 1
      for(var i = 0; i < game.lineups[0].length; i++) {
        this.$set(this.data1, i, {
          tag: lineups[0][i].tag,
          kda: lineups[0][i].kills + '/' + lineups[0][i].deaths + '/' + lineups[0][i].assists,
          gold: lineups[0][i].gold
        })
      }
      // Load team 2
      for(var i = 0; i < game.lineups[1].length; i++) {
        this.$set(this.data2, i, {
          tag: lineups[1][i].tag,
          kda: lineups[1][i].kills + '/' + lineups[1][i].deaths + '/' + lineups[1][i].assists,
          gold: lineups[1][i].gold
        })
      }
    }
  },
  mounted: function() {
    this.load()
    Events.$on('updateSpectate', () => {
      this.load()
    })
  }
}
</script>
