<template>
  <q-page>
    <div class='row justify-center spaced'>
      <q-table title='Standings' :data='data' :columns='standings.columns' row-key='name' hide-bottom binary-state-sort :pagination.sync='pages'>
        <q-td slot='body-cell-team' slot-scope='props' :props='props'>
          <router-link :to='"/roster/" + props.row.id' :class='[{standings: true}, {player: (props.row.id == $store.state.save.team)}]'>{{props.row.team}}</router-link>
        </q-td>
        <q-td slot='body-cell-ranking' slot-scope='props' :props='props'>
          <span :class='[{playoff: (props.row.ranking <= 6)}]'>{{props.row.ranking}}</span>
        </q-td>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import { Events } from '../js/events.js'
import { getStandings } from '../js/utils.js'

export default {
  name: 'PageStandings',
  data() {
    return {
      standings: {
        columns: [
          {name: 'ranking', label: 'Ranking', field: 'ranking', sortable: true, align: 'center'},
          {name: 'team', label: 'Team', field: 'team', sortable: true, align: 'left'},
          {name: 'wins', label: 'Wins', field: 'wins', sortable: true, align: 'left'},
          {name: 'losses', label: 'Losses', field: 'losses', sortable: true, align: 'left'}
        ],

      },
      data: [], // Populated on load from save
      pages: {
        rowsPerPage: 10,
        page: 1,
        sortBy: 'ranking',
      }
    }
  },
  methods: {
    load() {
      var rankings = getStandings()
      for(var i = 0; i < this.$store.state.save.teams.length; i++) {
        this.$set(this.data, i, {
          id: i,
          ranking: rankings.indexOf(i) + 1,
          team: this.$store.state.save.teams[i].name,
          wins: this.$store.state.save.teams[i].wins,
          losses: this.$store.state.save.teams[i].losses
        })
      }
    }
  },
  mounted: function() {
    this.load()
    Events.$on('advance', () => {
      this.load()
    })
  }
}
</script>

<style lang='stylus'>
.spaced
  margin-top: 3em

.standings
  text-decoration: none
  color: black

.player
  color: $primary

.playoff
  color: green
  font-weight: bold
</style>
