<template>
  <div style='background-color:white'>
    <div class='row justify-center'>
      <h4>Load</h4>
    </div>
    <div class='row justify-center'>
      <q-list v-if='saves.length > 0'>
        <q-item v-for='save in saves'>
          <q-item-label>
            {{save}}
          </q-item-label>
          <q-item-section>
            <q-btn icon='play_arrow' color='secondary' @click='loadS(save)'></q-btn>
            <q-btn icon='delete' color='red' @click='deleteS(save)'></q-btn>
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </div>
</template>

<script>
import fs from 'fs'
import path from 'path'
import { load, deleteSave } from '../js/save.js'
import { Events } from '../js/events.js'
import mkdirp from 'mkdirp'

const app = require('electron').remote.app

export default {
  name: 'Load',
  data() {
    return {
      saves: []
    }
  },
  methods: {
    loadList() {
      this.saves = []
      fs.readdir(app.getPath('userData') + path.sep + 'saves' + path.sep, (err, files) => {
        files.forEach(file => {
          this.saves.push(file)
        })
      })
    },
    loadS(save) {
      load(save)
      this.$router.push('/standings')
    },
    deleteS(save) {
      deleteSave(save)
    }
  },
  mounted: function() {
    mkdirp(app.getPath('userData') + path.sep + 'saves', (err) => {
      if(err) {
        console.log(err)
      }
    })
    this.loadList()
    Events.$on('deleted', () => {
      this.loadList()
    })
  }
}
</script>
