<template>
  <div>
    <div class='row fixed-top' style='z-index: 1'>
      <div class='title-text col-2'>
        {{$store.state.save.phase.status}} {{$store.state.save.season}}, Week {{$store.state.save.currentWeek + 1}}
      </div>
      <div class='title-text col-8'>
        {{$store.state.save.teams[$store.state.save.team].name}}
        ({{$store.state.save.teams[$store.state.save.team].wins}}-{{$store.state.save.teams[$store.state.save.team].losses}})
      </div>
      <q-btn class='col-2' label='Advance' @click='advanceWeek()' color='secondary'></q-btn>
    </div>

    <div class='fixed-top-left' v-for='(item, index) in menuItems' :key='index' :style="{marginTop: index*2.5 + 3 + 'em', zIndex: index + 1}">
      <q-btn :ripple='false' class='menu-item menu-button no-shadow' @click='navTo(item.link)' :class='{"highlighted-menu": $route.path == item.link}' :label='item.label' color='primary'></q-btn>
    </div>
    <q-dialog v-model='settingsOpen'>
      <Settings/>
    </q-dialog>
    <q-btn class='fixed-bottom-left' icon='settings' @click='settingsOpen=true' @close='settingsOpen=false' color='secondary' style='z-index: 1'/>
  </div>
</template>

<script>
import { advance } from '../js/advance.js'
import { Notify } from 'quasar'
import Settings from './Settings.vue'

export default {
  name: 'Menu',
  components: {
    Settings
  },
  data() {
    return {
      settingsOpen: false,
      menuItems: [
        {label: 'Standings', link: '/standings'},
        {label: 'Playoffs', link: '/playoffs'},
        {label: 'Schedule', link: '/schedule'},
        {label: 'Roster', link: ('/roster/' + this.$store.state.save.team)},
        {label: 'Free Agents', link: '/freeagents'}
      ]
    }
  },
  methods: {
    navTo(route) {
      this.$router.push(route)
    },
    advanceWeek() {
      var a = advance()
      if(a == 1) { // If there are less than five players on the team
        this.$q.notify({
          message: 'You need at least 5 players on your team to advance.',
          timeout: 2000
        })
      }
    }
  }
}
</script>

<style lang='stylus' scoped>
.title-text
  background-color $primary
  font-size 14px
  font-weight 500
  color white
  height 3em
  text-align center
  line-height 3em

.menu-button
  width 10em
  height 2em

.highlighted-menu
  width 12em
</style>
