<template>
  <div class='playerCard' @click='$emit("click")'>
    <img class='pos-image-small' :src='"statics/positions/pos_" + $store.state.save.players[player].pos.toLowerCase() + ".png"'/>
    <span :class='[{"text-faded": (sub)}]'>
      {{$store.state.save.players[player].tag}} {{$store.state.save.players[player].age}} - {{$store.state.save.players[player].rating}}
    </span>
    <span v-if='$store.state.save.players[player].development != 0'
      :class='[{positive: ($store.state.save.players[player].development > 0)}, , {negative: ($store.state.save.players[player].development < 0)}]'>
      (<span v-if='$store.state.save.players[player].development > 0'>+</span>{{$store.state.save.players[player].development}})
    </span>

  </div>
</template>

<script>
export default {
  name: 'PlayerCard',
  props: {
    player: Number,
    sub: Boolean
  }
}
</script>

<style>
.positive {
  color: green;
}
.negative {
  color: red;
}
</style>
