<template>
  <q-card class='wide' v-if='typeof series != "undefined"'>
    <q-card-section class='text-faded'>
      <span :class='[{playoffWinner: (series.winner == series.t1)}]'>
        {{$store.state.save.playoffs.teams.indexOf($store.state.save.teams[series.t1].id) + 1}}.
        {{$store.state.save.teams[series.t1].abbrev}}
        {{series.t1Wins}}
      </span>
      <br/>
      <span :class='[{playoffWinner: (series.winner == series.t2)}]'>
        {{$store.state.save.playoffs.teams.indexOf($store.state.save.teams[series.t2].id) + 1}}.
        {{$store.state.save.teams[series.t2].abbrev}}
        {{series.t2Wins}}
      </span>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'PlayoffCard',
  props: {
    series: Object
  }
}
</script>

<style>
.wide {
  margin-left: 5em;
  width: 6em;
}
.playoffWinner {
  color: green;
}
</style>
