<template>
  <q-card class='list'>
    <q-item-label header>Team Breakdown</q-item-label>
    <q-list>
      <q-item>
        <q-item-label>
          Top: {{count[0]}}
        </q-item-label>
      </q-item>
      <q-item>
        <q-item-label>
          Jungle: {{count[1]}}
        </q-item-label>
      </q-item>
      <q-item>
        <q-item-label>
          Mid: {{count[2]}}
        </q-item-label>
      </q-item>
      <q-item>
        <q-item-label>
          Bot: {{count[3]}}
        </q-item-label>
      </q-item>
      <q-item>
        <q-item-label>
          Support: {{count[4]}}
        </q-item-label>
      </q-item>
    </q-list>
  </q-card>
</template>

<script>
import { Events } from '../js/events.js'

export default {
  name: 'PlayersNeeded',
  data() {
    return {
      count: []
    }
  },
  methods: {
    calcCount() {
      var count = [0, 0, 0, 0, 0]
      for(var i = 0; i < this.$store.state.save.teams[this.$store.state.save.team].players.length; i++) {
        if(this.$store.state.save.players[this.$store.state.save.teams[this.$store.state.save.team].players[i]].pos == 'TOP') {
          count[0]++
        } else if(this.$store.state.save.players[this.$store.state.save.teams[this.$store.state.save.team].players[i]].pos == 'JGL') {
          count[1]++
        } else if(this.$store.state.save.players[this.$store.state.save.teams[this.$store.state.save.team].players[i]].pos == 'MID') {
          count[2]++
        } else if(this.$store.state.save.players[this.$store.state.save.teams[this.$store.state.save.team].players[i]].pos == 'BOT') {
          count[3]++
        } else if(this.$store.state.save.players[this.$store.state.save.teams[this.$store.state.save.team].players[i]].pos == 'SUP') {
          count[4]++
        }
      }

      this.count = count
    }
  },
  mounted: function() {
    this.calcCount()
    Events.$on('advance', () => {
      this.calcCount()
    })
  }
}
</script>

<style>
.list {
  margin-left: 5em;
  height: 16em;
}
</style>
