<template>
<div>
  <q-list>
    <q-item>
      {{$store.state.save.players[player].first}} "{{$store.state.save.players[player].tag}}" {{$store.state.save.players[player].last}}
      <q-item-section right>
        <img class='pos-image' :src='"statics/positions/pos_" + $store.state.save.players[player].pos.toLowerCase() + ".png"'/>
      </q-item-section>
    </q-item>
    <q-item>
      Age: {{$store.state.save.players[player].age}}
    </q-item>
    <q-item>
      Rating: {{$store.state.save.players[player].rating}}
    </q-item>
    <q-item>
      Contract: {{$store.state.save.players[player].contract.end}}, ${{$store.state.save.players[player].contract.amount}}k
    </q-item>
    <q-item>

    </q-item>
  </q-list>
  <div class='row justify-center'>
    <q-btn label='Release' color='secondary' @click='$emit("release")'></q-btn>
  </div>
</div>
</template>

<script>
export default {
  name: 'PlayerStats',
  props: {
    player: Number
  }
}
</script>
