<template>
  <div class='settings'>
    <div class='row justify-center'>
      <h4>Save: {{$store.state.save.name}}</h4>
    </div>
    <div class='row justify-center'>
      <q-btn label='Main Menu' color='primary' @click='mainMenu()' class='menu-spacing'></q-btn>
    </div>
    <div class='row justify-center close'>
      <q-btn label='Save' color='primary' @click='saveGame()' class='menu-spacing'></q-btn>
    </div>
  </div>
</template>

<script>
import { save } from '../js/save.js'
import { Events } from '../js/events.js'

const remote = require('electron').remote

export default {
  name: 'Settings',
  props: {
    open: Boolean
  },
  methods: {
    saveGame() {
      save(this.$store.state.save.name)
    },
    mainMenu() {
      this.$router.push('/')
      remote.getCurrentWindow().reload()
    }
  }
}
</script>

<style>
.menu-spacing {
  margin-top: 1em;
}
.close {
  margin-bottom: 1em;
}
.settings {
  background-color: white;
}
</style>
