<template>
<div style='margin-left: 2em; margin-top: 1em; background-color: white;'>
  <p>
    Another batch of updates for you after a bit of a break. This update largely consisted of
    a UI reorganization, as well as upgrading to a newer version of the UI framework I am using.<br/>
    The next update SHOULD ship with the new (slightly better) match simulation, and this update was just laying the
    groundwork for that. As always, <a href='https://goo.gl/forms/SyJ1laE9oGfrszwB2'> player tags</a> are needed,
    and join the <a href='https://discord.gg/z6cPd6N'> discord</a> if you haven't already!<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;Confuzzleinator
  </p>
  <h6>v0.3.1 Changelog</h6>
  <p>
    <strong style='color: green;'>New</strong>
    <br/>
    &nbsp;&nbsp;Free agents are now filterable by position
  </p>

  <p>
    <strong style='color: yellow;'>Changes</strong>
    <br/>
    &nbsp;&nbsp;Playoff teams should now be clearer<br/>
    &nbsp;&nbsp;Complete menu redesign
  <p>
    <strong style='color: red;'>Bugfixes</strong>
    <br/>
    &nbsp;&nbsp;Can no longer make multiple offers for the same player
  </p>
  <br/>
</div>
</template>

<script>
export default {
  name: 'Welcome'
}
</script>
