<template>
  <q-layout>
    <Menu/>
    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import Menu from '../components/Menu.vue'

export default {
  name: 'GameLayout',
  components: {
    Menu
  }
}
</script>

<style>
.flush {
  margin-left: auto;
}
</style>
